<?xml version="1.0" encoding="utf-8" ?>
<settings version="1">
    <section id="player" label="32034">
        <category id="general" label="32034">
            <group id="1" label="32034">
                <setting id="minimalChannels" type="boolean" label="30032">
                    <default>false</default>
                    <control type="toggle"/>
                </setting>
                <setting id="disableErotica" type="boolean" label="320122">
                    <default>true</default>
                    <control type="toggle" />
                </setting>
                <setting id="disableRegionalChannels" type="boolean" label="320125">
                    <default>true</default>
                    <control type="toggle" />
                </setting>
                <setting id="showMoviesSeries" type="boolean" label="30028">
                    <default>true</default>
                    <control type="toggle"/>
                </setting>
                <setting id="ask_start_from_beginning" type="boolean" label="32103">
                    <default>false</default>
                    <control type="toggle" />
                </setting>
                <setting id="disable_subtitle" type="boolean" label="32091">
                    <default>true</default>
                    <control type="toggle" />
                </setting>
                <setting id="force_ac3" type="boolean" label="30037">
                    <default>false</default>
                    <control type="toggle" />
                </setting>
                <setting id="item_count" type="integer" label="330048">
                    <default>51</default>
                    <control type="edit" format="integer">
                        <heading>330048</heading>
                    </control>
                </setting>
                <setting id="force_highest_bandwidth" type="boolean" label="32101">
                    <default>true</default>
                    <control type="toggle" />
                </setting>
                <setting id="use_small_images" type="boolean" label="330082">
                    <default>false</default>
                    <control type="toggle" />
                </setting>
                <setting id="add_duration" type="integer" label="32092">
                    <default>900</default>
                    <control type="edit" format="integer" />
                </setting>
            </group>
        </category>        
        <category id="library" label="330073">
            <group id="1" label="330073">
                <setting id="library_movies" type="integer" label="330074" help="">
                    <level>0</level>
                    <default>0</default>
                    <constraints>                    
                        <options>
                            <option label="330077">0</option>
                            <option label="330078">1</option>
                            <option label="330079">2</option>
                        </options>
                    </constraints>
                    <control type="list" format="string">
                        <heading>330074</heading>
                    </control>
                </setting>
                <setting id="library_movies_movies" type="boolean" label="30011" help="">
                    <level>0</level>
                    <default>false</default>
                    <control type="toggle"/>
                </setting>
                <setting id="library_shows" type="integer" label="330075" help="">
                    <level>0</level>
                    <default>0</default>
                    <constraints>                    
                        <options>
                            <option label="330077">0</option>
                            <option label="330080">1</option>
                            <option label="330081">2</option>
                        </options>
                    </constraints>
                    <control type="list" format="string">
                        <heading>330075</heading>
                    </control>
                </setting>
                <setting id="library_shows_series" type="boolean" label="32097" help="">
                    <level>0</level>
                    <default>false</default>
                    <control type="toggle"/>
                </setting>
                <setting id="upnext_enabled" type="boolean" label="330091" help="">
                    <level>0</level>
                    <default>false</default>
                    <control type="toggle"/>
                </setting>
            </group>
        </category>
    </section>
</settings>