<?xml version="1.0" encoding="utf-8" ?>
<settings version="1">
    <section id="player" label="32034">
        <category id="hidden">
            <visible>false</visible>
            <group id="3">
                <setting id="disable_subtitle" type="boolean" label="32091">
                    <default>true</default>
                    <control type="toggle" />
                </setting>
                <setting id="force_ac3" type="boolean" label="30037">
                    <default>false</default>
                    <control type="toggle" />
                </setting>
                <setting id="force_highest_bandwidth" type="boolean" label="32101">
                    <default>true</default>
                    <control type="toggle" />
                </setting>   
                <setting id="minimalChannels" type="boolean" label="30032">
                    <default>false</default>
                    <control type="toggle"/>
                </setting>
                <setting id="disableErotica" type="boolean" label="320122">
                    <default>false</default>
                    <control type="toggle" />
                </setting>                
                <setting id="disableRegionalChannels" type="boolean" label="320125">
                    <default>false</default>
                    <control type="toggle" />
                </setting>
                <setting id="homeConnection" type="boolean" label="320126">
                    <default>false</default>
                    <control type="toggle" />
                </setting>
                <setting id="showMoviesSeries" type="boolean" label="30028">
                    <default>true</default>
                    <control type="toggle"/>
                </setting>
                <setting id="ask_start_from_beginning" type="boolean" label="32103">
                    <default>false</default>
                    <control type="toggle" />
                </setting>
                <setting id="add_duration" type="integer" label="32092">
                    <default>900</default>
                    <control type="edit" format="integer" />
                </setting>
            </group>
        </category>
    </section>
</settings>